S3method(plot, barcode)
export(architect, archidraw, archigrow, bottleneckdist, dartToTable, latdist, perhomology, rsmlToTable, trajectory)
importFrom(stats, runif, sd, aggregate)
importFrom(utils, read.table, txtProgressBar, setTxtProgressBar)
importFrom(graphics, plot, segments, par, layout, rasterImage, text)
importFrom(grDevices, palette, colorRamp, colorRampPalette, rgb, as.raster, cm, chull)
importFrom(XML, xmlToList, xmlParse)
importFrom(rgl, open3d, plot3d, lines3d)
importFrom(TDA, bottleneck)
importFrom(sp, Polygon)